.fondo {
    background: white url("img/champions.jpg");
    background-size: cover;
}
.titulo{
    padding: 100px;
    font-size: 35px;
    font-family: "Impact";
    color: aliceblue;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: aliceblue

}
thead{
    color: whitesmoke;
    font-family: "Calibri Light";
}
a {
    color: whitesmoke;
}